<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Node - {{tittlePage}}</title> 
</head>
<body>
    <!--Contenido-->
    {{{body}}}
    <!--/Contenido-->


    <footer>
        <p>Desarrollado por Cgiraldo</p>
    </footer>
</body>
</html>