<h1>hola desde cliente res</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>usuario</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <td>{{datos.id}}</td>
        <td>{{datos.name}}</td>
        <td>{{datos.username}}</td>
        <td>{{datos.email}}</td>
    </tbody>
</table>
