<h1>utiles</h1>

{{>flash}}

<ul>
   <li>
        Mail no esta en funcionamiento<!--<a href="/utiles/mail">Mail</a>   -->
    </li> 
    <li>
        <a href="/utiles/jwt">JWT</a>
    </li>
    <li>
        <a href="/utiles/qr">Crear QR</a>
    </li>
    <li>
        <a href="/utiles/cliente_rest">cliente_rest</a>
    </li>
</ul>

<a href="/">regresar</a>