<h1>Reportes</h1>
<ul>
    <li>
        <a href="/reportes/pdf" target="_blank">PDF</a>
    </li>
    <li>
        <a href="/reportes/excel" target="_blank"> EXCEL</a>
    </li>
    <li>
        <a href="/reportes/csv" target="_blank">CSV</a>
    </li>
</ul>

<a href="/">regresar</a>