
<h1>Formulario simple</h1>

<form action="/formularios/normal" method="post" name="form">

    <div>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <br>
    <div>
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo">
    </div>
    <br>
    <div>
        <label for="telefono">Telefono</label>
        <input type="number" name="telefono" id="telefono">
    </div>

    <input type="submit" value="Enviar"/>

</form>


<a href="../formularios/">regresar</a>